<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
	<title>Create Customer Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">


<html><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand"><a class="navbar-brand" href="#" style="color:yellow">FedChoice Bank</a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/home" style="left:600px;">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Customer Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/createcustomer">Create Customer</a>
          <a class="dropdown-item" href="/customersearch/1">Update Customer</a>
          <a class="dropdown-item" href="/customersearch/2">Delete Customer</a>
        </div>
      </li>


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Account Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/createacct">Create Account</a>
          <a class="dropdown-item" href="/accountsearch/1">Delete Account</a>
        </div>
      </li>      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Status Details
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/customerstatus">Customer Status</a>
          <a class="dropdown-item" href="/accountstatus">Account Status</a>
          <a class="dropdown-item" href="/accountstatementA">Account Statement</a>
        </div>
      </li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Account Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/depositmoney">Deposit</a>
          <a class="dropdown-item" href="/withdrawmoney">Withdraw</a>
          <a class="dropdown-item" href="/transfermoney">Transfer</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout" style="left:600px;">Logout<span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
  </div>
</nav>


	<div class="container"><div class="d-flex justify-content-center h-60" style="position:fixed;top:120px;left: 400px;width: 600px;">
		<div class="card">
			<div class="card-header">
				<h3>Delete Account</h3>
				</div>
			<div class="card-body">
				<form method="post">
					<div class="input-group form-group">
						<label style="position:relative;">Account ID :  </label>
						<select list="acttypes" name="selectact" style="position:relative;left:10px;"class="form-control" required placeholder="Account ID">
						 	<option id="">{{actid[1]}}</option>
						</select>
					</div>
					<div class="input-group form-group">
						<label style="position:relative;">Account Type :  </label>
						<input type="text" style="position:relative;left:10px;"class="form-control" name="confirmtype" required placeholder="Confirm Account Type">
					</div>
						<div class="form-group">
						<button type="submit" class="btn float-right  login_btn">Delete Account</button>
					</div>
				</form>
			</div>
		</div>
	</div></div>
</html>